#gerOver__main {
  text-align: center;
  margin-top: 18vh;
}

#gerOver__head {
  display: flex;
  text-align: center;
  margin: 4rem 2rem 0 2rem;
}

#gerOver__head section{
  padding-top: 1.5rem;
  width: 25%;
}

#gerOver__head section hr {
  border: .2rem solid #008FE2;
  border-radius: .5rem;
}

#gerOver__head h2 {
    width: 50%;
    color: #008FE2;
    margin: 0 1rem;
}

#gerOver__body {
  text-align: center;
}

#gerOver__toevoegenButton {
  display: inline-block;
  text-decoration: none;
  width: 50%;
  border-radius: 1.5rem;
  margin: 1rem 2rem 2rem 2rem;
  padding: 1rem 2rem;
  border: solid .2rem #008FE2;
  background-color: #008FE2;
  font-weight: 600;
  font-size: 2rem;
  color: white;
}

#gerOver__toevoegenButton:hover {
  border: solid .2rem black;
}

#gerOver__searchBar {
  width: 80%;
  font-size: 1.6rem;
  padding: 1rem 1.5rem;
  margin: 0rem 1rem;
  border-radius: 2rem;
  border: solid .2rem #008FE2;
}

.gerOver__card__naam { grid-area: naam; }
.gerOver__card__foto { grid-area: foto; }
.gerOver__card__categorie { grid-area: categorie; }
.gerOver__card__prijs { grid-area: prijs; }
.gerOver__card__beschrijving { grid-area: beschrijving; }
.gerOver__card__button { grid-area: button; }

.gerOver__card {
  min-width: 28rem;
  border-radius: 1rem;
  margin: 1rem;
  padding: 1rem;
  background-color: #DFF4FF;
  text-align: left;
  display: grid;
  grid-template-areas:
    'naam naam naam'
    'categorie foto foto'
    'prijs foto foto'
    'beschrijving foto foto'
    'beschrijving button button';
  grid-template-columns: 40% 30% 30%;
  grid-template-rows: 3rem 3.5rem 3.5rem;
  grid-gap: .1rem;
}

.gerOver__card__naam {
  font-weight: 600;
  overflow: hidden;
}

.gerOver__card__foto {
  width: 15rem;
  justify-self: center;
}

.gerOver__card__categorie {
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
}

.gerOver__card__beschrijving {
  height: 14rem;
  overflow-x: scrol;
  overflow-y: scroll;
}

/* width */
::-webkit-scrollbar {
  width: .7rem;
  height: .7rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5472c0;
  border-radius: 2rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #008FE2;
}

/* Corner */
::-webkit-scrollbar-corner {
  background: none;
}

.gerOver__card p::first-letter{
  text-transform: capitalize;
}

.gerOver__card__button {
  border-radius: 1.5rem;
  margin-top: 1rem;
  padding: .5rem .5rem;
  border: solid .2rem #008FE2;
  background-color: #008FE2;
  font-weight: 600;
  color: white;
  text-align: center;
  text-decoration: none;
}

.gerOver__card__button:hover {
  border: solid .2rem black;
}

@media only screen and (max-width: 407px) {
  #gerOver__toevoegenButton {
    width: 60%;
  }
}

@media only screen and (min-width: 668px) {
  #gerOver__main {
    text-align: center;
    margin-top: 15vh;
  }

  #gerOver__head {
    display: inline-flex;
    width: 50%;
    font-size: 2.2rem;
  }

  #gerOver__head section {
    width: 100%;
    padding: 1.1rem;
  }

  #gerOver__head section hr{
    margin-top: 1rem;
  }

  #gerOver__head h2 {
    width: 80%;
    margin: 0 1rem;
    font-size: ;
  }

  #gerOver__toevoegenButton {
    display: inline-block;
    margin: 5rem 0;
    width: 10%;
    font-size: 2.2rem;
  }

  #gerOver__searchBar {
    width: 30%;
    font-size: 2.2rem;
    margin-bottom: 2rem;
  }

  #gerOver__grid {
    display: inline-grid;
    grid-template-columns: auto auto;
    width: 70%;
  }

  .gerOver__card {
    grid-template-areas:
      'naam naam naam'
      'categorie foto foto'
      'prijs foto foto'
      'beschrijving foto foto'
      'beschrijving button button';
  }

  .gerOver__card p {
    font-size: 2rem;
  }

  .gerOver__card__foto {
    width: 7vw;
  }

  .gerOver__card__button {
    font-size: 2rem;
    width: 80%;
    justify-self: end;
  }

  #gerOver__grid {
    grid-template-columns: 100%;
  }

  #gerOver__toevoegenButton{
    width: 26%;
  }
}

@media only screen and (min-width: 1170px) {
  #gerOver__grid {
    grid-template-columns: 50% 50%;
  }

  #gerOver__toevoegenButton{
    width: 16%;
  }
}

@media only screen and (min-width:1750px) {
  #gerOver__grid {
    grid-template-columns: 33.3% 33.3% 33.3%;
    width: 70%;
  }
}
