#gerechtForm__main {
  display: block;
  text-align: center;
  margin-top: 15vh;
}

#gerechtForm__titel {
  display: inline-flex;
  margin: 2rem 2rem 0 2rem;
  width: 80%;
}

#gerechtForm__titel section{
  padding-top: 3rem;
  width: 30%;
}

#gerechtForm__titel section hr{
  border: .2rem solid #008FE2;
  border-radius: .5rem;
}

#gerechtForm__titel h2{
  width: 40%;
  color: #008FE2;
  margin: 0 1rem;
}

#gerechtForm__section {
  display: inline-block;
  text-align: center;
  border: .1rem solid;
  border-color: #008FE2;
  margin: 2rem 2rem;
  padding: 1.5rem;
  box-shadow: .2rem .2rem .2rem #888888;
}

#gerechtForm {
  display: inline-block;
  margin: 0 auto;
  text-align: left;
}

#gerechtForm label {
  padding-left: 1.5rem;
}

#gerechtForm .gerechtForm__input {
  margin: .5rem 0 1.5rem 0;
  border: .1rem solid;
  border-color: #008FE2;
  border-radius: 1.5rem;
  padding: .5rem 0 .5rem 1.5rem;
  width: 80%;
}

#gerechtForm__beschrijving {
  resize: none;
}

#gerechtForm__fotoPreview {
  display: inline;
}

#gerechtForm__fotoPreview__input {
  display: inline;
  margin-top: .5rem;
  padding: .3rem 0;
}

#gerechtForm__fotoPreview__foto {
  width: 15rem;
}

#gerechtForm__categorie--label {
  display: inline-block;
  margin-top: 1.5rem;
}

#gerechtForm__categorie {
  border: .1rem solid;
  border-color: #008FE2;
  border-radius: 1.5rem;  background: none;
  padding: .5rem 0 .5rem 1.5rem;
  margin-top: .5rem;
  width: 80%;
}

#gerechtForm__categorieSuggestions ul {
  list-style: none;
  box-sizing: border-box;
  background-color: white;
  font-size: 1.3rem;
  border: solid;
  border-width: .1rem;
  border-color: #008FE2;
  border-radius: .5rem;
  position: absolute;
  z-index: 10;
  width: 58.5%;
  max-height: 17rem;
  overflow-x: hidden;
  overflow-y: scroll;
}

#gerechtForm__categorieSuggestions li {
  padding: .3rem 0 .3rem 1.5rem;
  cursor: pointer;
}

#gerechtForm__categorieSuggestions li:hover {
  text-decoration: underline;
  background-color: rgba(128, 128, 128, 0.20);
}

#gerechtForm__prijs {
  font-size: 1.4rem;
  padding: .1rem 0 .3rem 1.5rem;
  margin: .5rem 0 1.5rem 0;
  border: .1rem solid;
  border-color: #008FE2;
  border-radius: 1.5rem;
  width: 80%;
}

#gerechtForm__prijsInput {
  border-style: none;
  padding-left: 1rem;
  width: 80%;
  /* Firefox */
  -moz-appearance: textfield;

}

/* Chrome, Safari, Edge, Opera */
#gerechtForm__prijsInput::-webkit-outer-spin-button,
#gerechtForm__prijsInput::-webkit-inner-spin-button, {
  -webkit-appearance: none;
  margin: 0;
}

#gerechtForm__buttonsection {
  text-align: center;
}

#gerechtForm__buttons {
  width: 100%;
  display: inline-grid;
  grid-template-columns: 45% 55%;
}

#gerechtForm__buttons button:hover {
  cursor: pointer;
}

#gerechtForm__buttons__reset {
  text-decoration: underline;
  padding: .5rem 0;
  color: #008FE2;
  border: none;
  background-color: white;
  font-size: 1.4rem;
  font-style: italic;
  align-self: center;
  justify-self: left;
}

#gerechtForm__buttons__reset:hover {
  text-shadow: .1rem .1rem .1rem #888888;
}

#gerechtForm__buttons__reset:active {
  text-shadow: 0 0 0;
}

#gerechtForm__buttons__submit {
  box-sizing: border-box;
  font-size: 1.4rem;
  padding: .5rem 1.5rem;
  border-radius: 1.5rem;
  border: solid .2rem #008FE2;
  background-color: #008FE2;
  color: white;
}

#gerechtForm__buttons__submit:hover {
  border: solid .2rem black;
}

@media only screen and (max-width: 400px) {
  #gerechtForm__buttonsection {
    text-align: left;
  }

  #gerechtForm__buttons {
    grid-template-columns: 35% 55%;
  }
}

@media only screen and (min-width: 400px) {
  #gerechtForm__main {
    margin-top: 18vh;
  }

  #gerechtForm__titel section {
    padding-top: 1.5rem;
  }
}

@media only screen and (min-width: 576px) {
  #gerechtForm__fotoPreview {
    display: grid;
    grid-template-columns: 50% auto;
  }

  #gerechtForm__fotoPreview__foto {
    justify-self: center;
  }
}

@media only screen and (min-width: 768px) {
  #gerechtForm__titel {
    width: 50%;
  }
}

@media only screen and (min-width: 946px) {
  #gerechtForm__titel section{
    padding-top: 1.1rem;
  }

  #gerechtForm__section {
    width: 50%;
  }

  #gerechtForm__titel {
    display: inline-flex;
    width: 50%;
    font-size: 2.2rem;
  }

  #gerechtForm__titel section{
    width: 60%;
  }

  #gerechtForm__titel section hr{
    margin-top: 1rem;
  }

  #gerechtForm label {
    font-size: 2.2rem;
  }

  #gerechtForm .gerechtForm__input {
    margin: 1rem 0 4rem 0;
    font-size: 2rem;
    width: 100%;
  }

  #gerechtForm__fotoPreview__input {
    font-size: 1.6rem;
  }
  
  #gerechtForm__categorie--label {
    margin-top: 0;
  }

  #gerechtForm__categorie {
    font-size: 2rem;
    width: 100%;
  }

  #gerechtForm__categorieSuggestions {
    margin: 0rem 0 3rem 0;
    width: 100%;
  }

  #gerechtForm__categorieSuggestions ul {
    width: 25.8%;
  }

  #gerechtForm__categorieSuggestions li {
    font-size: 2rem;
  }

  #gerechtForm__prijs {
    font-size: 2rem;
    width: 100%;
  }

  #gerechtForm__prijsInput {
    font-size: 2rem;
  }

  #gerechtForm__buttons {
    width: 100%;
  }

  #gerechtForm__buttons__submit {
    font-size: 2rem;
  }

  #gerechtForm__buttons__reset {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 1250px) {
  #gerechtForm__section {
    width: 70%;
  }
}

@media only screen and (max-width: 1630px) {
  #gerechtForm__section {
  }
}
