.bestBon__li {
  list-style-type: none;
  display: grid;
  grid-template-columns: 75% 25%;
  text-align: left;
  padding: 1.4rem 0 0 1rem;
  overflow: hidden;
}

.bestBon__li hr {
  border: none;
  border-top: dotted .5px #008FE2;
  width: 104%;
}

.bestBon__li__aantal {
  font-style: italic;
}
