.card__status {
  display: inline-block;
  color: white;
  font-style: italic;
  width: 13rem;
  padding: .5rem 0;
  border-radius: .3rem;
}

.card__status::first-letter {
  text-transform: capitalize;
}
