#bestModal {
  display: inline-block;
  text-align: center;
  border: solid .1rem;
  background-color: white;
  width: 90%;
  animation: animatezoom .6s;
}

@keyframes animatezoom {
  0% {
      transform: scale(0);
  }
  100% {
      transform: scale(1);
  }
}

#bestModal__titel p {
  font-weight: bold;
  margin: 1.5rem 0;
}

#bestModal__details {
  display: inline-block;
  border: solid .1rem #008FE2;
  background-color: #DFF4FF;
  width: 80%;
}

#bestModal__details__klant {
  text-align: left;
  padding: .5rem 0 0 1rem;
}

.bestModal__details__klant__p {
  padding-top: .5rem;
}

#bestModal__details__bestelling {
  border-top: solid .1rem #008FE2;
  height: 40vh;
  margin-top: 1.5rem;
  padding-bottom: 1.5rem;
  overflow-y: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#bestModal__details__bestelling::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#bestModal__details__bestelling {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.bestModal__details__bestelling__p {
  text-align: left;
  padding: 1rem 0 0 1rem;
}

#bestModal__buttons {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 1.5rem 1rem;
}

#bestModal__buttons__return {
  border: none;
  background-color: white;
  text-decoration: underline;
  font-style: italic;
  color: #008FE2;
  width: 90%;
}

#bestModal__buttons__return:hover {
  cursor: pointer;
  text-shadow: .1rem .1rem .1rem #888888;
}

#bestModal__buttons__confirm {
  border: solid .2rem #008FE2;
  border-radius: 1.5rem;
  background-color: #008FE2;
  color: white;
  padding: .5rem 0;
}

#bestModal__buttons__confirm:hover {
  cursor: pointer;
  border: solid .2rem black;
}

@media only screen and (min-width: 668px) {
  #bestModal {
    width: 50%;
  }
}

@media only screen and (min-width: 1064px) {
  #bestModal {
    width: 35%;
  }
}

@media only screen and (min-width: 1326px) {
  #bestModal {
    width: 25%;
  }
}
