.gemaBest__card {
  border-bottom: solid .1rem;
  text-align: left;
  list-style-type: none;
  padding: .3rem 0 0 .8rem;
}

.gemaBest__card section{
  text-align: center;
}

.gemaBest__card__ordernr {
  font-weight: bold;
}

.gemaBest__card__details {
  display: grid;
  justify-content: center;
  grid-template-columns: 65% 35%;
  margin: .8rem 0;
}

.gemaBest__card__details__button {
  font-size: 1.6rem;
  border: none;
  background-color: white;
  text-decoration: underline;
  font-style: italic;
  color: #008FE2;
  width: 5rem;
}

.gemaBest__card__details__button:hover {
  cursor: pointer;
  text-shadow: .1rem .1rem .1rem #888888;
}

.gemaBest__modal {
  display: none;
  text-align: center;
  position: fixed;
  z-index: 3;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

@media only screen and (min-width: 665px) {
  .gemaBest__modal {
    padding-top: 20vh;
  }

  #gemaBest {
    max-width: 53.2rem;
  }
}
