.BestelRestaurantCard{
  display: flex;
  background-color: #DFF4FF;
  background: #DFF4FF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  transition: .3s ease;
  cursor: pointer;
}

.BestelRestaurantCard:hover{
  transform: scale(1.2);
  background-color: #008FE2;
}
.BestelRestaurantCard_img{
  width: 45%;
  height: 99%;
  border-radius: 6px;
}

.BestelRestaurantCard_main_logo{
  width: 30%;
  height: 23%;
  margin-left: 60%;
}

.BestelRestaurantCard_main{
  text-align: center;
  display: grid;
  width: 50%;
}

.BestelRestaurantCard_main_naam{
  font-style: italic;
  font-size: 14px;
  padding: 0 2%;
}

.BestelRestaurantCard_main_beschrijving{
  font-size: 10px;
  padding: 0 5%;
  opacity: 0.6;
  margin-top: 4%;
}

.BestelRestaurantCard_main_waardering_flex{
  display: flex;
  margin-top: 15%;
  margin-left: 30%;

}

.BestelRestaurantCard_main_waadering_star{
  width: 15%;
  height: 50%;
}

.BestelRestaurantCard_main_waardering_score{
  font-style: italic;
  font-size: 14px;
}

@media only screen and (max-width: 1200px) {
  .BestelRestaurantCard{
    width: 100%;
  }
  ..BestelRestaurantCard_img{
    width: 200px;
  }
}
