.BezorgtijdHeader
{
    background-color: #008FE2; /* For browsers that do not support gradients */
    background-image: linear-gradient(#5472c0,#008FE2);
    height: 15vh;
    width: 100%;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    overflow: hidden;
    z-index: 1;
    position: fixed;
    top: 0;
}

.BezorgtijdHeader_list
{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 1fr;
    list-style-type: none;
    justify-content: center;
    align-items: center;
}

.BezorgtijdHeader_list_logo_img
{
    width: 80%;
    display: block;
    margin: auto;
}

.BezorgtijdHeader_list_tekst
{
  margin: 0 auto;
  width: 70%;
  color:white;
}

.LandingHeader_list_modal
{
  position: fixed;
}

.BezorgtijdHeader_list_aanmeld
{
  display: none;
}

.BezorgtijdHeader_list_tekst_p
{
    font-size: 20px;
    text-align: center;
}

.BezorgtijdHeader_list_tekst_phoofd
{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.BezorgtijdHeader_list_menu
{
  width: 50px;
  margin: 0 auto;
}

.BezorgtijdHeader_list_menu_bar1
{
  width: 60px;
  height: 5px;
  background-color: #333;
  margin: 12.5px 0;
}

.BezorgtijdHeader_list_menu_bar2
{
  width: 60px;
  height: 5px;
  background-color: #333;
  margin: 12.5px 0;
}

.BezorgtijdHeader_list_menu_bar3
{
  width: 60px;
  height: 5px;
  background-color: #333;
  margin: 12.5px 0;
}

@media (max-width: 930px) {

  .BezorgtijdHeader_list_tekst_phoofd{
    display: none;
  }

  .BezorgtijdHeader_list_tekst_p
  {
      font-size: 14px;
      margin-bottom: 15px;
  }

  .BezorgtijdHeader
  {
      height: 15vh;
  }

  .BezorgtijdHeader_list_tekst
  {
    width: 100%;
  }

  .BezorgtijdHeader_list
  {
      grid-template-columns: 33% 33% 33%;
      grid-template-rows: 1fr;
      list-style-type: none;
      justify-content: center;
      align-items: center;
  }

  .BezorgtijdHeader_list_menu
  {
    width: 50px;
    margin: 0 auto;
  }
}

  .BezorgtijdHeader_list_menu_bar1, .BezorgtijdHeader_list_menu_bar2, .BezorgtijdHeader_list_menu_bar3{
    width: 40px;
  }

  .BezorgtijdHeader_list_menu_bar2
  {
    margin: 0;
  }

  .BezorgtijdHeader_list_menu_bar1, .BezorgtijdHeader_list_menu_bar3
  {
    margin: 6px 0;
  }


@media (max-width: 700px) {

  .BezorgtijdHeader_list_tekst_p
  {
      font-size: 12px;
  }
}
