.favoriet {
  margin: 10% auto 1px 10%;
}

.favoriet__header {
  margin-top: 180px;
}

.favoriet__content__list {
  display: grid;
  list-style: none;
  grid-template-columns: 25% 25% 25%;
  grid-row-gap: 10px;
  grid-column-gap: 5%;
}

.favoriet__content__list__item {
  background-color: #DFF4FF;
  padding-bottom: 10px;
  padding-top: 10px;
}

.favoriet__content__list__item__figure {

}

.favoriet__content__list__item__figure__img {
  width: 80%;
  margin: 5% 10%;
  max-height: 250px;
}


.favoriet__content__list__item__text {
  text-align: center;
  font-size: 20px;
}

.favoriet__content__list__item__button, .favoriet__button__link {
  margin: 5px 25%;
  background-color: #008FE2;
  border-radius: 100px;
  height: 30px;
  width: 50%;
  border-style: none;
  color: white;
  text-decoration: none;
}

.favoriet__content__list__item__button:hover {
  border: 3px black solid;
}

@media(max-width: 500px) {
  .favoriet__content__list {
    display: block;
  }

  .favoriet__content__list__item {
    background-color: #DFF4FF;
    width: 80%;
    margin-top: 5%;
  }

  .favoriet__content__list__item__figure__img {
    max-height: 150px;
  }
}
