.GerechtenKlantKeuze{
  background-color: #DFF4FF;
  background: #DFF4FF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  transition: .3s ease;
  cursor: pointer;
}



.GerechtenKlant_main{
  display: grid;
  grid-template-columns: 34% 34%;
  grid-gap: 5%;
  margin: 3% 0 0 6%;
  padding-bottom: 4%;
}

.CategorieTitel{
  margin-left: 5%;
  margin-top: 2%;
  font-weight: lighter;
  font-size: 22px;
  font-style: italic;
}
