.GerechtenWinkelmandje{
  width: 20%;
  position: fixed;
  margin-left: 80%;
  background-color: #DFF4FF;
  background: #DFF4FF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  height: 80%;
}

.GerechtenWinkelmandje_lijst{
  list-style: none;
  margin: 0 5%;
  height: 85%;
  overflow: scroll;
  overflow-x: hidden;
}

.GerechtenWinkelmandje_button{
  display: block;
  text-align: center;
  border-radius: 15px;
  border: solid 2px #008FE2;
  background-color: #008FE2;
  color: white;
  width: 250px;
  height: 45px;
  cursor: pointer;
  outline: none;
  font-size: 30px;
  padding: 2px;
  font-style: italic;
  top: 90%;
  left: 10%;
  position: absolute;
}

.GerechtenWinkelmandje_button:hover{
    border: solid 2px black;
}

.GerechtenWinkelmandje_totaalBedrag{
  left: 10%;
  position: absolute;
}
