.GerechtenKlantKeuze{
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  grid-template-rows: 1fr 1fr 1fr;
}


.GerechtenKlantKeuze:hover{
  transition: .2s ease;
  transform: scale(1.2);
  background-color: #42f5dd;
}

.GerechtenKlantKeuze_titel{
  margin-top: 2.5%;
  margin-left: 3%;
}

.GerechtenKlantKeuze_beschrijving{
  color: rgba(0, 0, 0, 0.7);
  font-size: 12px;
  padding: 5px;
  margin-left: 3%;
}

.GerechtenKlantKeuze_foto{
  grid-column-start: 2;
  grid-row: 1 / 4;
  width: 100%;
  height: 100%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.GerechtenKlantKeuze_prijs{
  margin-left: 75%;
  margin-top: 10%;
}
