.GerechtenRestaurantCard{
  margin-top: 20vh;
  background-color: #DFF4FF;
  background: #DFF4FF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  transition: .3s ease;
  cursor: pointer;
  width: 400px;
  height: 200px;
  margin-left: 5%;
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-template-rows: 1fr 0.5fr 0.5fr 1fr;
  text-align: center;
}

.GerechtenRestaurantCard_logo{
  grid-row: 1 / 5;
  margin-top: 5%;
  margin-left: 5%;
  width: 110px;
  height: 80px;
}

.GerechtenRestaurantCard_naam{
  font-weight: lighter;
  font-style: italic;
  margin-top: 5%;
}

.GerechtenRestaurantCard_beoordeling{
  font-weight: lighter;
  font-style: italic;
}

.GerechtenRestaurantCard_beschrijving{
  font-weight: lighter;
  font-style: italic;
  font-size: 12px;
  padding: 0 5%;
  margin-bottom: 5%;
   color: rgba(0, 0, 0, 0.7);
}

.GerechtenRestaurantCard_buttons{
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
}

.GerechtenRestaurantCard_buttons button{
  border-radius: 15px;
  border: solid 2px #008FE2;
  background-color: #008FE2;
  color: white;
  width: 45%;
  height: 80%;
  margin-left: 2%;
  cursor: pointer;
  outline: none;
}

.GerechtenRestaurantCard_buttons--review{
  margin-left: 2%;
}

.GerechtenRestaurantCard_buttons--favoriet{
  margin-right: 2%;
}

.GerechtenRestaurantCard_buttons--review:hover{
  border: solid 2px black;
}

.GerechtenRestaurantCard_buttons--favoriet:hover{
  border: solid 2px black;
}
