.mainpicture_figure_img
{
    width: 100%;
    height: 73vh;
}

.mainpicture_figure_img__responsive
{
    display: none;
}
.mainpicture
{
    margin-top: 27vh;
}

.fa {
    /* color: black; */
    font-size: 7em;
    margin: 1.5em;
    color:  #008FE2;
}

.extra
{

    transform: rotate(180deg);
    visibility: hidden;
    margin: 2em;
}

.extradiv
{
    visibility: hidden;
}

.mainpicture_bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

.mainpicture_section
{
    text-align: center;
    margin: 4% auto;
    position: absolute;
    width: 100%;
    top: 65vh;
}

@keyframes bounce {
    0%, 100%, 20%, 50%, 80% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

.mainpicture_article
{
    width: 100%;
    height: 0;
}

.mainpicture_article_big
{
    text-align: center;
    color: white;
    font-size: 48px;
    position: absolute;
    top: 40vh;
    font-weight: bold;
    width: 100%;
    /* border-radius: 30px;
    background-color: #008FE2;
    padding: 0.2em; */
    
}

.mainpicture_article_small
{
    text-align: center;
    color: white;
    font-size: 28px;
    position: absolute;
    top: 55vh;
    font-weight: bold;
    width: 100%;
    /* left: 25%;
    margin-left: -25px; */
    
}
@media screen and (max-width: 720px) {
    .mainpicture_figure_img__responsive
    {
        display: block;
        height: 85vh;
    }

    .mainpicture_figure_img__desktop
    {
        display: none;
    }

    .mainpicture
    {
        margin-top: 15vh;
    }
}
@media screen and (max-width: 500px) {
   
    .mainpicture_article_big
    {
        top: 20vh;
        font-size: 40px;
    }

    .mainpicture_article_small
    {
        top: 50vh;
    }

    .fa
    {
        font-size: 60px;
    }

    .mainpicture_section
    {
        top: 75vh;
    }

    .extradiv
    {
        top: 80vh;
    }

    
}
