.login
{
    width: 100%;
}

.login_form
{
    width: 50vw;
    padding: 2em;
    left: 50%;
    top: 40%;
    position: absolute;
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    margin-top: 25vh;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    margin-bottom: 5%;
    border-radius: 30px;
}

.login_form_header
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    justify-items: center;
    align-items: center;
    margin-top: 1em;
    color:  #008FE2;
    

}

.login_form_header_h1
{
    font-weight: bold;
}


.login_form_header_line
{
    width: 60%;
    border-style: none;
    border-radius: 50px;
    height: 25%;
    background-color: #008FE2;
}

.login_form_main
{
    width: 100%;
    display: grid;
    grid-template-columns: 60% 40%;
    justify-items: center;
    align-items: center;
    height: 100%;
}


.login_form_main_side_figure
{
    width: 100%;
    height: 100%;
    text-align: center;
}

.login_form_main_side_figure_img
{
    width: 80%;
}

.login_form_main_system
{
    margin-top: 1em;
    width: 60%;
}
.login_form_main_system_label
{
    width: 100%;
    text-align: left;
    font-style: italic;
    margin-left: 1em;
}

.login_form_main_system_input
{
    width: 90%;
    height: 2.5em;
    margin-top: 0.5em;
    margin-bottom: 1em;
    margin-left: 1em;
    font-size: 14px;
    padding-left: 1em;
}

.login_form_main_system_input:focus
{
    border: 2px solid #008FE2;
}

.login_form_main_system_submit
{
    float: right;
    color: white;
    font-weight: bold;
    background-color: #008FE2;
    border-style: none;
    border-radius: 30px;
    width: 30%;
    height: 30px;
    margin: 2em 3em;
}

.login_form_main_system_password
{
    color: #008FE2;
    width: 100%;
    text-align: end;
    float: right;
    margin-right: 3em;
}

.login_form_main_system_password:hover
{
    cursor: pointer;
}

.login_form_main_system_submit:hover
{
    background-color: #0040e2;
    cursor: pointer;
}

.login_back
{
    position: absolute;
    height: 5vh;
    top: 35%;
    left: 2%;
}

.login_back_arrow
{
    font-weight: bold;
    font-size: 80px;
    color: #008FE2;
    text-decoration: none;
}

.login_back_arrow:hover
{
    cursor: pointer;
}

.login_form_main_system_small
{
    margin-left: 1em;
    animation: animatezoom 1.6s;
}

@keyframes animatezoom {
    0% {
        transform: scale(0);
    }

    50%{
        transform: scale(0.5);
    }
    100% {
        transform: scale(1);
    }
}

@media screen and (max-width: 1200px) {
    .login_form
    {
        width: 70vw;
    }
  }


@media screen and (max-width: 700px) {
 .login_form
    {
        width: 85vw;
    }

.login_form_main_side_figure_img
{
    width: 60%;
}

.login_back
{
    top: 10%;
}

.login_form_main_system_input
{
    width: 100%;
}

.LandingHeader
{
    height: 15vh;
}

.LandingHeader_list
{
    grid-template-columns: 80% 20%;
    grid-template-rows: none;

}

.LandingHeader_list_logo
{
    display: none;
}

.LandingHeader_list_tekst
{
    display: none;
}

.LandingHeader_list_login
{
    grid-column-start: 2;
    grid-row-start:1 ;
}

.LandingHeader_list_searchbar_form
{
    margin-top: 8%;
    width: 95%;
}

.LandingHeader_list_login_icon
{
    display: block;
}

.LandingHeader_list_login_button
{
    display: none;
}

.LandingHeader_list_searchbar
{
    grid-row-start: 1;
    grid-column-start: 1;
}

  }

  @media screen and (max-width: 500px) {
    .login_form_main_side_figure_img
    {
        display: none;
    }

    .login_form_main
    {
        display: block;
    }



    .login_form_main_system
    {
        width: 90%;
    }

    .login_form
    {
        width: 70vw;
        top: 30%;
    }

    .login_form_main_system_submit
    {
        margin: 0;
        margin-bottom: 1em;
    }

    .login_form_main_system_password
    {
        margin: 0;
    }

    .LandingHeader_list_searchbar_form_section
    {
        height: 50px;
    }

    .LandingHeader_list_searchbar_form_button 
    {
        /* height: 80%; */
        padding: 0;
    }

    .LandingHeader_list_searchbar_form
    {
        /* margin-top: 4%; */
        box-shadow: none;
    }

  }


