.navbar_navigation
{
    width: 100%;
    height: 65px;
    border-bottom: 2px solid grey;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}

.navbar_navigation_list
{
    list-style-type: none;
    
}