.register_form_small
{
    margin-left: 2.5em;
    font-weight: bold;
}

.register_form_header_p
{
	text-align: center;
    font-style: italic;
    margin-bottom: 1em;
    background-color: black;
    padding: 0.5em;
    color: white;
    font-weight: bold;
    border-radius: 30px;
}

.register_form_header_h1
{
	font-size: 14px;
}

.register_form_select
{
    width: 90%;
    height: 2.5em;
    margin-top: 0.5em;
    margin-left: 1em;
    font-weight: bold;
    color: white;
    border-color: black;
    background-color: #008FE2;
}




