.navigation, .navigation_cross
{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.navigation_cross
{
    color: white;
}

.navigation
{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    /* width: 25%;
    animation: myfirst 2s; */
}

/* @keyframes myfirst {
    0%  {background: #111; right: -20%; top: 0px;}
    100%  {background: #111; right: 0px; top: 0px;}
  } */

  /* @keyframes goback {
    0%  {background: #111; right: 0px; top: 0px;}
    100%  {background: #111; right: 20%; top: 0px;}
  } */





.navigation_list
{
    list-style-type: none;
    text-align: left;
}


.navigation_list_item, .navigation_list_item_link
{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    text-decoration: none;
}

a.navigation_list_item_link
{
    padding: 0;
}

.navigation_list_item:hover, .navigation_list_item_link:hover {
    color: #f1f1f1;
    cursor: pointer;
  }

  li.navigation_list_naam, li.navigation_list_logout
  {
      color: white;
      font-weight: bold;
  }

  li.navigation_list_naam
  {
    border-bottom: 2px solid white;
    margin-bottom: 3em;
  }


  li.navigation_list_naam:hover
  {
      cursor: none;
      color: white;
  }

  li.navigation_list_logout:hover
  {
    color: white;
  }

