.TestHeader
{
    /* background-color: #008FE2; */
    background-color: #008FE2; /* For browsers that do not support gradients */
    background-image: linear-gradient(#5472c0,#008FE2);
    height: 100px;
    width: 100%;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    overflow: hidden;
    top: 0;
    z-index: 1;
    display: flex;
}


.TestHeader_list_logo_img
{
    width: 150px;
    height: 60px;
    display: block;
    margin: 1% 0 0 2%;
}


.TestHeader_list_menu
{
  list-style: none;
  margin: 2% 0 0 15%;
}

.TestHeader_list_menu_bar1, .TestHeader_list_menu_bar2, .TestHeader_list_menu_bar3
{
  width: 50px;
  height: 5px;
  background-color: #333;
  margin: 6.5px 0;
}

.TestHeader_form
{
  margin: 2% 0 0 20%;
  display: flex;
}

.TestHeader_input
{
    height: 70%;
    width: 500px;
    border: 1px solid #aaa;
    border-radius: 3px;
    padding-left: 5%;
    background-image: url('images/maps-line.svg');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    background-size: 20px;
}

.TesttijdHeader_list_form
{
  text-align: center;
    height: 40%;
    width: 50%;
    display: grid;
    grid-template-columns: 70% 30%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.TesttijdHeader_list_form_section
{
   height: 70px;
    width: 100%;
}

.TesttijdHeader_list_form_section_input
{
  border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-style: none;
    padding-left: 15%;
    font-size: 15px;
    background-image: url('./images/location.png');
    background-repeat: no-repeat;
    background-size: 6%;
    background-position-x: 10px;
    background-position-y: center;
    height: 100%;
    width: 100%;
}

.TesttijdHeader_list_form_button
{
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  background-color: #333;
  font-weight: bold;
  font-size: 12px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.TesttijdHeader_list_form_button:hover
{
  background-color: black;
  cursor: pointer;
}

.TestHeader_button
{
  background: #282727;
  border: none;
  border-radius: 5px;
  height: 72%;
  color: white;
  font-style: italic;
  margin-right: 20%;
}

.navigation_cross
{
  z-index: 20;
  display: none;
}

.navigation_cross:hover
{
  cursor: pointer;
}
